
<div class="container">
	<div class="row">
	<h2 class="text-center couleur_titre">Décrivez-nous votre bien immobilier</h2>
		<%= simple_form_for @announce do |f| %>
			<div class="col-md-6">
          		<label>
            		Titre principal de l'annonce
            		<div class="form-group">
              			<%= f.text_area :title, class: "form-control title-placeholder", placeholder:"Appartement 3 pièces sur Saint-Maur Les Mûriers" %>
            		</div>
          		</label>
        	</div>
        	<div class="col-md-6">
          		<label>
            		La description du bien à vendre
            		<div class="form-group">
              			<%= f.text_area :description, label: false, class: "form-control description-placeholder", placeholder:"Appartement de 3 pièces composé d'un sejour double, une cuisine aménagée et équipée, 3 chambres, 1 salle de bains."%>
            		</div>
          		</label>
        	</div>
        
   
    

    
    	<div class="col-md-6">
        	<label>
            	Quel est son prix
            	<div class="form-group">
              		<div class="input-group">
                		<%= f.input :price, label: false, class: "form-control price-placeholder color_ccc", placeholder:"300000" %>
                		<div class="input-group-addon">€</div>
              		</div>
            	</div>
          	</label>
        </div>

        <div class="col-md-6">
        	<label>
            	Que vendez-vous ?
            	<div class="form-group">

              		<%= f.input :property_id, as: :select, collection: Property.all,label: false, class: "form-control" %>
            	</div>
          	</label>
        </div>
        <div class="col-md-3">
        	<label>
        		Nombre de Chambre
        		<div class="form-group">
        			<%= f.input :bed, collection: 0..10, class: "form-control title-placeholder", label: false %>
        		</div>
        	</label>
        </div>
        <div class="col-md-3">
        	<label>
        		Nombre de Salle de Bains
        		<div class="form-group">
        			<%= f.input :bath, collection: 1..4, class: "form-control title-placeholder", label: false %>
        		</div>
        	</label>
        </div>
        <div class="col-md-3">
        	<label>
        		Nombre de Douches
        		<div class="form-group">
        			<%= f.input :shower, class: "form-control title-placeholder", label: false %>
        		</div>
        	</label>
        </div>
        <div class="col-md-3">
        	<label>
        		Classe énergie
        		<div class="form-group">
        			<%= f.input :class_energy, as: :select, collection: ["A","B","C","D","E","F","G"],label: false, class: "form-control" %>
        		</div>
        	</label>
        </div>
   
<div class="col-md-3">
        	<label>
        		Surface habitable
        		<div class="form-group">
        			<%= f.input :surface, class: "form-control title-placeholder", label: false %>
        		</div>
        	</label>
        </div>
<div class="col-md-3">
        	<label>
        		Quelques Photos !
        <div class="input-group">
      		<i class="fa fa-upload" aria-hidden="true"></i>
        	<div class="form-group">
        		<%= f.input :photos, as: :attachinary, label: '', input_html: { class: 'photo_upload form-control' }, label_html: { class: 'photo_upload_label' }%>
        	</div>
        </div>
 </label>
 </div>
	
	
	<%= f.input :tax_month %>
	<%= f.input :price %>
	<%= f.input :address %>
	<%= f.input :locality %>
	
	<%= f.input :transports %>
	<%= f.input :view %>
	<%= f.input :exposition %>
	<%= f.input :floor %>
	<%= f.input :floor_max %>
	<%= f.input :elevator %>
	<%= f.button :submit %>
<% end %>




