
<div class="container">
    <div class="row">
        <div class="col-md-12">
	
            <h2 class="text-center couleur_titre">Décrivez-nous votre bien immobilier</h2>
            <%= simple_form_for @announce do |f| %>
                
                <div class="row">
                    <div class="col-md-6">
                  	    <label>Indiquez le titre de l'annonce</label>
                        <div class="form-group">
                            <%= f.text_area :title, class: "form-control", placeholder:"Appartement 3 pièces sur Saint-Maur Les Mûriers" %>       
                        </div>   
                    </div>
                    <div class="col-md-6">
                        
                        <div class="form-group">
                            <label>Indiquez la description du bien à vendre</label>
                            <%= f.text_area :description, label: "La description du bien", class: "form-control description-placeholder", placeholder:"Appartement de 3 pièces composé d'un sejour double, une cuisine aménagée et équipée, 3 chambres, 1 salle de bains."%>
                        </div>
                    </div>
                </div>

                <div class="row">
            
                    <div class="col-md-12">
                        
                        <fieldset>
                            <div class="form-group">
                                <input id="user_input_autocomplete_address" name="[announce]address" class="form-control" placeholder="25 Rue du petit Musc, 75004 Paris">
                            </div>
                        </fieldset>        
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-3">
                        <label>Quel est son prix</label>
                        <div class="form-group">
                            <%= f.input :price, label: false, class: "form-control price-placeholder color_ccc", placeholder:"300000" %>        
                      	</div>
                    </div>
                   
                    <div class="col-md-6">
                        <label>Que vendez-vous ?</label>
                        <div class="form-group">
                            <%= f.input :property_id, as: :select, collection: Property.all,label: false, class: "form-control" %>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>Nombre de Chambre</label>
                        <div class="form-group">
                            <%= f.input :bed, collection: 0..10, class: "form-control title-placeholder", label: false %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Nombre de Salle de Bains</label>
                        <div class="form-group">
                            <%= f.input :bath, collection: 1..4, class: "form-control title-placeholder", label: false %>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>Nombre de Douches</label>
                        <div class="form-group">
                            <%= f.input :shower, class: "form-control title-placeholder", label: false, collection: 1..4 %>
                        </div>
                    </div>
                <div class="col-md-3">
                	<label>Classe énergie</label>
                	<div class="form-group">
                		<%= f.input :class_energy, collection: Announce::CLASS_ENERGY, label: false %>
                	</div>
                </div>
   
                <div class="col-md-3">
                	<label>Surface habitable</label>
                	<div class="form-group">
                		<%= f.input :surface, class: "form-control title-placeholder", label: false %>
                	</div>
                </div>
           
                <div class="col-md-12">
                	<label>Quelques Photos !</label>
                    <div class="input-group">
              		    <i class="fa fa-upload" aria-hidden="true"></i>
                        <div class="form-group">
                            <%= f.input :photos, as: :attachinary, label: '', input_html: { class: 'photo_upload form-control' }, label_html: { class: 'photo_upload_label' }%>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <%= f.button :submit, class:"btn_submit_announces_new" %>
                    </div>
         
                </div>
            <% end %>
        </div>
    </div>
</div>
	
    	
        	
        



<% content_for(:after_js) do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyASApFE9y-yXUiYrAXgi1TF275y0lcMg8s">
  </script>
  <% end %>



